* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(45, 45, 53);
	font-family: 'Open Sans', sans-serif;
	color: #DEDEDE;
}

header{
	height: 200px;
	background: #0c0c0c;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
}

nav ul li a{
	display: inline-block;
	padding: 6px 8px;
	text-decoration: none;
	color: #FFFFFF;
	background: #F04D32;
}

nav ul li a:hover {
	opacity: 0.7;
}

main {

}

.content-wrap {
	min-height: calc(100vh - 60px);
}

.container {
	margin: 0 auto; /* centering */
	max-width: 1200px;
}

.content {
	width: 100%;
	background: #18181b;
	padding: 20px;
}

.center {
	text-align: center;
}

.festival-logo {
	font-size: 50px;
}

.countdown {
	font-family: Consolas;
	font-weight: 800;
	color: #EEEEEE;
}
#countdown-days {
	font-size: 100px;
}
#countdown-time {
	font-size: 100px;
}

footer {
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #666666;
	background: #0c0c0c;
}
