:root {
    --success: rgb(11, 71, 5);
    --danger: rgb(80, 0, 0);
    --warning: rgb(196, 176, 0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(45, 45, 53);
    font-family: "Segoe UI", "Open Sans", sans-serif;
    color: #DEDEDE;
    margin-bottom: 60px;
}

header {
    height: 200px;
    background: #0c0c0c;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 6px 8px;
    text-decoration: none;
    color: #FFFFFF;
    background: #F04D32;
}

nav ul li a:hover {
    opacity: 0.7;
}

.link:link {
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

.link:visited {
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

.link:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

.link:active {
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}


/* Dropdown Button */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8b8b8b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-open {
    display: none;
}

.dropdown-icons {
    float: right;
}

.dropdown-link-active {
    font-weight: bold;
}

.hide-mobile {
    display: inline;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-open {
    display: block;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-closed {
    display: none;
}


/* Show the dropdown menu on hover */

.dropdown:hover .nav-link {
    color: #fff;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

main {}

.center {
    text-align: center;
}

.festival-logo {
    font-size: 40px;
}

.festival-title {
    font-size: 80px;
}

.countdown {
    font-family: Consolas, Menlo;
    font-weight: 800;
    color: #EEEEEE;
    font-size: 100px;
}

.countdown-noch {
    color: #EEEEEE;
    font-size: 60px;
}

.newsletter-form {
    background: rgb(240, 191, 85);
    padding: 15px;
    overflow: hidden;
}

.newsletter-label {
    display: block;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    color: #444;
    text-align: right;
}

.sm-margin-top {
    margin-top: 0;
}

.sm-margin-bottom {
    margin-top: 0;
}

.padding-top {
    padding: 0.375rem;
}

@media (max-width: 950px),
(max-device-width: 950px) {
    .item-image {
        position: absolute;
        width: 30%;
    }
    .item-image img {
        max-width: 100%;
    }
    .item-details {
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 65%;
        margin-left: 35%;
    }
}

@media (max-width: 600px),
(max-device-width: 600px) {
    .newsletter-label {
        text-align: left;
    }
    .sm-margin-top {
        margin-top: 1rem;
    }
    .sm-margin-bottom {
        margin-bottom: 1rem;
    }
    .countdown {
        font-size: 16vw;
    }
    .hide-mobile {
        display: none;
    }
    .sm-width-100 {
        width: 100%;
    }
    .item-image {
        position: absolute;
        width: 30%;
    }
    .item-image img {
        max-width: 100%;
    }
    .item-details {
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 65%;
        margin-left: 35%;
    }
    .bord-banner {
        content: url(../img/bord_banner_mini.png) !important;
    }
}

.input-inline {
    padding: 0.55rem 0.75rem;
    color: #444;
    background-color: #fff;
    border: 1px solid #222;
}

.input-itemcount {
    width: 50px;
}

.bottom-buttons {
    padding-top: 15px;
    width: 100%;
    overflow: hidden;
}

.lineup-col {
    float: left;
    padding: 0 !important;
    border: 5px solid transparent;
    overflow: hidden;
    position: relative;
}

.lineup-image {
    object-fit: contain;
    width: 100%;
    overflow: hidden;
    transition: transform .5s ease;
}

.lineup-col:hover img {
    transform: scale(1.5);
}

.lineup-col:hover .content-overlay {
    opacity: 1;
    color: #035;
}

.content-details {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.band-title-red {
    background: rgb(143, 0, 0);
    position: absolute;
    text-align: center;
    padding: 10px;
    bottom: 10%;
    left: 50%;
    font-weight: bold;
    font-size: 1.2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: default;
}

.band-title-black {
    background: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    padding: 10px;
    bottom: 10%;
    left: 50%;
    font-weight: bold;
    font-size: 1.2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: default;
}

.lineup-col:hover .content-details {
    opacity: 1;
}

.fadeIn-bottom {
    top: 50%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.footer {
    display: block;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #0c0c0c;
}

.item {
    clear: both;
    overflow: hidden;
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 190px;
}

.item-image {
    position: absolute;
    max-width: 20%;
}

.item-image img {
    max-width: 100%;
}

.item-details {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    margin-left: 23%;
}

.border-top {
    border-top: 3px solid #333;
    margin-top: 20px;
    padding-top: 20px;
}

.border-bottom {
    border-bottom: 3px solid #333;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.text-validate-red {
    border: 2px solid red;
}

.validation-helptext {
    clear: both;
    text-align: left;
    color: rgb(255, 87, 87);
    font-size: 0.75rem;
    display: block;
}
.order {
    border: 2px solid #333;
    margin-top: 15px;
}
.order-header {
    overflow: hidden;
    background-color: #444;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.order-content {
    overflow: hidden;
    padding: 15px;
}
.bord-banner {
    text-align: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    content: url(../img/bord_banner.png);
}
.page-heading {
    font-size: 50px;
}